<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />-->
    <!--
              <bean class="com.hao.spring.Person" init-method="initialize" destroy-method="destroy"></bean>
              <bean class="com.hao.corejava.Demo2" init-method="initFun"></bean>
        -->



    <bean id="register" class="com.hao.spring.core.ApplicationContextRegister">
        <property name="student" ref="student" />
        <property name="name" value="XXOO" />
<!--        <property name="student">-->
<!--            <ref bean="student"></ref>-->
<!--        </property>-->
<!--        <property name="name">-->
<!--            <value>XXOO</value>-->
<!--        </property>-->
    </bean>

    <bean id="student" class="com.hao.spring.core.Student">
        <constructor-arg name="name" value="小明"></constructor-arg>
        <constructor-arg name="age" value="20"></constructor-arg>
    </bean>

    <bean id="studentAction" class="com.hao.spring.core.StudenAction">
        <constructor-arg name="name" value="王五"/>
        <property name="name">
            <value>李四</value>
        </property>
    </bean>

    <bean id="teacher" class="com.hao.spring.core.Teacher">
<!--        <constructor-arg name="name" value="王老师"/>-->
        <property name="name">
            <value>李四</value>
        </property>
    </bean>

</beans>